head(title="chillTV")
  link(rel='stylesheet', href='styles/fonts/stylesheet.css')
  link(rel="stylesheet", href="styles/main.css")
body
  #container
    figure.vid
      //- p welcome
      video(autoplay='true', loop='true')
        //- source(src="./images/clashes.webm")
        //- source(src="./images/coffeeShop.webm")
        //- source(src="./images/floating.webm")
        //- source(src="./images/neistat.webm")
        source(src="./images/animeRap.webm")
        //- source(src="./images/poeticAnime.webm")
    section.links
      nav.baseMenu
        ul.categories
          li code
          nav.subMenu
            ul.subMenu.code
              li sandbox
          li work
          li learn