head(title="chillTV")
  link(rel="stylesheet", href="styles/main.css")
body
  #container
    figure.vid
      video#aRoll(muted='true')
        source(src="./images/neistat.webm")
    section.links
      nav.baseMenu
        ul.categories
          li code
          nav.subMenu
            ul.subMenu.code
              li sandbox
          li play
          li work
  script(src="scripts/client.js")