head(title="chillTV")
  link(rel='stylesheet', href='styles/fonts/stylesheet.css')
  link(rel="stylesheet", href="styles/main.css")
body
  #container
    figure.vid
      //- p welcome
      video
        source(src="./images/neistat.webm")
    section.links
      nav.baseMenu
        ul.categories
          li code
          li work
          li learn
        nav.subMenu
          ul.subMenu.code
            li sandbox