head(title="chillTV")
  link(rel="stylesheet", href="styles/main.css")
body
  #container
    figure.vid
      video#aRoll(muted='true')
        source(src="./images/neistat.webm")
    section.links
      nav.baseMenu
        svg.backBeams(viewBox='0 0 1000 300' preserveAspectRatio="none")
          path(d="M 0    0 L 0   300")
          path(d="M 0    0 L 320 0")
          path(d="M 320  0 L 320 300")
          path(d="M 340  0 L 340 300")
          path(d="M 340  0 L 660 0")
          path(d="M 340  300 L 660 300")
          path.codeMenu.hidden(d="M 660  0 L 660 300")
          path.codeMenu.hidden(d="M 680  0 L 680 300")
          path(d="M 680  0 L 1000 0")
          path(d="M 680  300 L 1000 300")
          path(d="M 1000 0 L 1000 300")
        ul.subMenus
          li
            ul.sub--play
            ul.sub--work
          li
            ul.sub--code
              li
                a(href='https://github.com/the-sides') GitHub
              li
                a(href='https://www.codepen.io') codePen
              li
                a(href='https://codesandbox.io/dashboard/recent') CodeSandbox
              li
                a(href='https://www.hackthebox.eu/home') HackTheBox
            ul.sub--work
              li
                a(href="https://mail.google.com/mail/u/0/#inbox" target="_blank") Gmail
              li
                a(href="https://utk.instructure.com/" target="_blank") Canvas
              li
                a(href="https://utk.instructure.com/" target="_blank") MyUtk
          li
            ul.sub--play
            ul.sub--code
              li
                a(href='https://messenger.klinkerapps.com/') Pulse
              li
                a(href='https://reddit.com/') Reddit
              li
                a(href='https://youtube.com/') YouTube
              li
                a(href='https://netflix.com/') Netflix
              li
                a(href='https://hulu.com/') Hulu
        ul.mainTabs
          li#code(tabindex="1") 
            span.label code
          li#play 
            span.label play
          li#work
            span.label work
  script(src="scripts/client.js")