@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');
html{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: lime;
    // font-family: 'montecarlo_fixed_12regular';
    font-family: 'Quantico', sans-serif;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}


#container{
    // margin: 1em;
    overflow: hidden;
    // position: relative;
    video{
        position: absolute;
        top: 0;
        left: 0;
        z-index:-1;
        min-height: 100vh;
        min-width: 100vw;
        #src1{
            display: none;
        }
    }
}
.links{
    width: 100%;
}
.baseMenu{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    // top: 30vh;
    width: 96vw;
    margin: 1em auto;
    overflow: hidden;

    .backBeams{
        margin: 0 auto;
        width: 100%;
        height: 38vh;
        // bottom: 20%;
        // max-height: 0px;
    }
    @keyframes reveal {
        0%{
            // max-height: 1000px;
            stroke-dashoffset: 1000;
        }

        100%{
            // max-height: 40vh;
            stroke-dashoffset: 500;
        }
    }
    &:active,
    &.revealed{
        .backBeams{
            animation: reveal 1s .3s linear forwards;
        }
        .subMenus > li > ul.active {
            opacity: 1;
        }
    }
    .subMenus{
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 ;
        z-index: 2;
        > li {
            flex: 1;
            max-width: 32%;
            transition: all .3s ease-in;
            ul{
                opacity: 0;
                width: 90%;
                margin: 5% 5%;
                padding: 0%;
                background: rgba(black, 0.5);
                transition: all 0.5s 0.3s ease-in;
                > li {
                    // background: rgba(black, 0.5);
                    padding: .3em;
                    text-align: center;
                    > a {
                        display: block;
                        min-width: 90%;
                        text-decoration: none;
                        color: lime;
                    }
                }
                // padding: 0;
                // > li{
                // }
            }
        }
    }
    .mainTabs{
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: flex-end;
        width: 100%;
        overflow-y: hidden;
        margin: 0;

        > li {
            // margin-top: auto;
            max-width: 32%;
            position: relative;
            bottom: 0;
            font-size: 3em;
            flex: 1;
            text-align: center;
            background: rgba(black, 0.5);
            height: 100%;
            // max-width: 300px;
            transform: translateY(0);
            transition: all .3s ease-out;
            z-index: 2;
            border: 1px solid cyan;
            span{
                margin: 0 auto;
                min-width: 100%;
                height: 100%;
            }
            &.revealed{
                // transform: translateY(-50vh);
                padding-bottom: 40vh;
            }
            &.play{
                .subMenu{
                    position: absolute;
                    display: inline-block;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    transform: translateY(-40vh);
                    z-index: 3;
                    ul{
                        li{
                            font-size: 0.7em;
                            min-width: 100%;
                        }
                    }
                } 
            }
            &:hover,
            &:active,
            &:focus{
                background: rgba(black, 0.9);
            }
        }
    }

    svg {
        overflow: visible;
        position: absolute;
        width: 100%;
        stroke-width: 1px;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        rect, path{
            filter: drop-shadow(0px 0px 2px cyan);
            fill: transparent;
            stroke: cyan;
            min-width: 100%;
            height: auto;
        }
        path.hidden{
            stroke: transparent;
        }
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}



// Destroy defaults
li{
    list-style: none;
}
ul{
    padding-left: 0;
}