@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');
html{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: lime;
    // font-family: 'montecarlo_fixed_12regular';
    font-family: 'Quantico', sans-serif;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}


#container{
    // margin: 1em;
    overflow: hidden;
    // position: relative;
    video{
        position: absolute;
        top: 0;
        left: 0;
        z-index:-1;
        min-height: 100vh;
        min-width: 100vw;
    }
}
.links{
    width: 100%;
}
.baseMenu{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    // top: 30vh;
    width: 100%;
    min-width: 10em;
    .categories{
        display: flex;
        justify-content: space-between;
    }
    .subMenu{
        display: flex;

    }

    li {
        font-size: 3em;
        border: solid 2px white;
        // box-shadow: 1px 1px 1px lime;
    }
}

.code{
    // display: none;
    // position: absolute;
    // right: 4em;
    border: solid 2px rgb(82, 241, 255);
}
li{
    list-style: none;
}
