@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');
html{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: lime;
    // font-family: 'montecarlo_fixed_12regular';
    font-family: 'Quantico', sans-serif;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}


#container{
    // margin: 1em;
    overflow: hidden;
    // position: relative;
    video{
        position: absolute;
        top: 0;
        left: 0;
        z-index:-1;
        min-height: 100vh;
        min-width: 100vw;
        #src1{
            display: none;
        }
    }
}
.links{
    width: 100%;
}
.baseMenu{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    // top: 30vh;
    width: 100%;
    min-width: 10em;
    .categories{
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: baseline;
    }
    .subMenu{
        display: none;
        // opacity: 0;
    }

    li {
        margin-top: auto;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        max-width: 30vw;
        position: relative;
        bottom: 0;
        font-size: 3em;
        flex: 1;
        text-align: center;
        background: rgba(black, 0.5);
        height: 100%;
        // max-width: 300px;
        transform: translateY(0);
        transition: all .1s ease-out;
        z-index: 2;

        span.beam{
            position: absolute;
            &.hat { top:    0; }
            &.flat{ bottom: 0; }
            background-color: cyan;
            box-shadow: 0px 0px 15px 7px rgba(0,225,255,1);
            left: 50%;
            height: 1px;
            width: 100%;
            transform: translateX(-50%);
            z-index: 0;
        }
        svg{
            overflow: visible;
            position: absolute;
            width: 100%;
            height: 100%;
            // background-color: transparent;
            stroke-width: 1px;
            g{
                // height: 100%;
            }
            rect, path{
                filter: drop-shadow(0px 0px 2px cyan);
                fill: transparent;
                // filter: url('#glow');
                stroke: cyan;
                width: 100%;
                max-height: 2px;
            }
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
        &.revealed{
            // transform: translateY(-50vh);
            padding-bottom: 40vh;
        }
        &:hover,
        &:active,
        &:focus{
            background: rgba(black, 0.9);
        }
        &:active{
            .subMenu{
                display: block;
            }
        }
    }
}


// Destroy defaults
li{
    list-style: none;
}
ul{
    padding-left: 0;
}