@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');
html{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: lime;
    // font-family: 'montecarlo_fixed_12regular';
    font-family: 'Quantico', sans-serif;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}


#container{
    // margin: 1em;
    overflow: hidden;
    // position: relative;
    video{
        position: absolute;
        top: 0;
        left: 0;
        z-index:-1;
        min-height: 100vh;
        min-width: 100vw;
        #src1{
            display: none;
        }
    }
}
.links{
    width: 100%;
}
.baseMenu{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    // top: 30vh;
    width: 100%;
    min-width: 10em;
    .categories{
        display: flex;
        justify-content: space-between;
    }
    .subMenu{
        display: none;
        // opacity: 0;
    }

    li {
        position: relative;
        font-size: 3em;
        flex: 1;
        text-align: center;
        background: rgba(black, 0.5);
        span{
            position: absolute;
            &.hat { top:    0; }
            &.flat{ bottom: 0; }
            background-color: cyan;
            box-shadow: 0px 0px 15px 7px rgba(0,225,255,1);
            left: 50%;
            height: 1px;
            width: 100%;
            transform: translateX(-50%);
            z-index: 2;
        }
        svg{
            width: 130%;
            height: auto;
            position: absolute;
            // background-color: transparent;
            fill: transparent;
            path{
                // filter: drop-shadow(0px 0px 3px cyan);
                filter: url('#glow');
                stroke: cyan;
            }
            top: -227px;
            left: 49%;
            transform: translateX(-50%);
            z-index: 2;
        }
        &:hover,
        &:focus{
            background: rgba(black, 0.9);
        }
        &:active{
            .subMenu{
                display: block;
            }
        }
    }
}

.code{
    // display: none;
    // position: absolute;
    // right: 4em;
}
li{
    list-style: none;
}
ul{
    padding-left: 0;
}