@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');
html{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: lime;
    // font-family: 'montecarlo_fixed_12regular';
    font-family: 'Quantico', sans-serif;
    overflow: hidden;
}


#container{
    // margin: 1em;
    overflow: hidden;
    // position: relative;
    video{
        position: absolute;
        top: 0;
        left: 0;
        z-index:-1;
        min-height: 100vh;
        min-width: 100vw;
    }
}
.baseMenu{
    position: absolute;
    right: 0;
    top: 30vh;
    min-width: 10em;

    li {
        font-size: 3em;
        box-shadow: 1px 1px 1px lime;
    }
}

.subMenu{
    display: flex;

}
.categories{
    border: solid 2px white;
}
.code{
    // display: none;
    position: relative;
    right: 4em;
    border: solid 2px rgb(82, 241, 255);
}
li{
    list-style: none;
}
